@model BasketballManager.Web.ViewModels.Games.DetailsAllGames
@{
    this.ViewData["Title"] = "Details Games";
}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">My Points</th>
                <th scope="col">Opponent Points</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        @{

            var counter = 1;
            string status = null;
            foreach (var game in Model.Games)
            {
                if (game.MyPoints > game.OpponentPoints)
                {
                    status = "W";
                }
                else
                {
                    status = "L";
                }
                <tbody>
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@game.Date.ToString("d")</td>
                        <td>@game.MyPoints</td>
                        <td>@game.OpponentPoints</td>
                        <td class="text-danger">@status</td>
                    </tr>
                </tbody>
                counter++;
            }
        }
    </table>